.hidden{
    display: none;
}
body{
    background-color: rgb(252, 248, 255);
    font-family: basel-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    margin: 0 auto;
    overflow: hidden;
    flex-direction: row;
}
.banner{
    max-width: 1920px;
}
.pic{
    width:500px;
    float:left; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

h2{
    font-size: 50px;
    font-family: basel-neue,sans-serif;
    font-weight: 900;
    font-style: italic;
    padding-top: 30px;
    color: #58425f;
}

p {
    float: left;
    width: 1300px;
    padding-left: 10px;
    font-size: 20px;

    color: #292929;
}



#leslie{
  border: 2px;
}

#charlee{
  display: none;
  border: 2px;
}

button {
   background-color: #9c7fa6; 
   top:50%;
   border: none;
   font-size: 80px;
   color: #58425f;
   border-radius: 2px;
   height: 100px;
   width: 100px;
   margin-left: 200px;
   margin-top: 300px;
}

button:hover{
    opacity: 0.7;
}

.btn{
    
}